In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\omkar\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\omkar\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [3]:
# when we work with pandas we do below things

import pandas as pd

pd.read_csv('data.csv')

  Name  Age
0  Tom   23
1  Yom   34
2  Lom   45

In [5]:
# we need to create spark session

from pyspark.sql import SparkSession

In [18]:
#creating session object
spark = SparkSession.builder.appName('MyApp').getOrCreate()

In [8]:
spark

In [25]:
# read a data set wrt to spark

df_pyspark = spark.read.csv('data.csv')
df_pyspark

DataFrame[_c0: string, _c1: string]

In [26]:
# to see entire dataset
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
| Tom| 23|
| Yom| 34|
| Lom| 45|
+----+---+

In [29]:
# if you want to make first row as header instead of c0 and c1
df_pyspark = spark.read.option('header','true').csv('data.csv')

In [31]:
#type
df_pyspark.show()
type(df_pyspark)

+----+---+
|Name|Age|
+----+---+
| Tom| 23|
| Yom| 34|
| Lom| 45|
+----+---+

pyspark.sql.dataframe.DataFrame

In [32]:
#to get info about data

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)