In [1]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("part3").getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test_one.csv',header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+-----+----+----------+------+
| Name|Age |Experience|Salary|
+-----+----+----------+------+
|  Tom|  31|        10| 30000|
|Jerry|  30|         8| 45000|
| Oggy|  20|         4| 25000|
|  Lom|  24|         3| 20000|
| Jake|  21|         1| 15000|
| John|  23|         2| 18000|
+-----+----+----------+------+

In [18]:
##filter operations

'''
salary of people less than or equal to 20000
'''

df_pyspark.filter("Salary<=20000").show()

+----+----+----------+------+
|Name|Age |Experience|Salary|
+----+----+----------+------+
| Lom|  24|         3| 20000|
|Jake|  21|         1| 15000|
|John|  23|         2| 18000|
+----+----+----------+------+

In [21]:
## Select two columns
df_pyspark.filter("Salary<=20000").select(['Name','Age ']).show()

+----+----+
|Name|Age |
+----+----+
| Lom|  24|
|Jake|  21|
|John|  23|
+----+----+

In [20]:
df_pyspark.columns

['Name', 'Age ', 'Experience', 'Salary']

In [23]:
### method 2 for having multiple conditions

df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000) ).show()

+----+----+----------+------+
|Name|Age |Experience|Salary|
+----+----+----------+------+
| Lom|  24|         3| 20000|
|Jake|  21|         1| 15000|
|John|  23|         2| 18000|
+----+----+----------+------+

In [24]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000) ).show()

+-----+----+----------+------+
| Name|Age |Experience|Salary|
+-----+----+----------+------+
|  Tom|  31|        10| 30000|
|Jerry|  30|         8| 45000|
| Oggy|  20|         4| 25000|
|  Lom|  24|         3| 20000|
| Jake|  21|         1| 15000|
| John|  23|         2| 18000|
+-----+----+----------+------+

In [25]:
### not operation or inverse operation on conditon
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+----+----------+------+
| Name|Age |Experience|Salary|
+-----+----+----------+------+
|  Tom|  31|        10| 30000|
|Jerry|  30|         8| 45000|
| Oggy|  20|         4| 25000|
+-----+----+----------+------+

In [ ]:
##pyspark group by and aggregate functions