In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Part04").getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('test_two.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+------+-----------+------+
|  Name|Departments|Salary|
+------+-----------+------+
|   Jom|         ML| 10000|
|   Jom|        IOT|  5000|
|Mahesh|         CV|  4000|
|   Jom|         ML|  3000|
|Mahesh|         DL|  2500|
|   Tom|        IOT| 10000|
|   Tom|        IOT|  5000|
|   Tom|         DL|  2000|
| Sunny|         ML| 12000|
| Sunny|         ML| 25000|
+------+-----------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
## Group By Name operation

'''
aggregate function is applied followed by groupBy first.
'''


'''
who is having maximum salary among names ?
we can group to find maximum salary
'''
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|   Tom|      17000|
| Sunny|      37000|
|   Jom|      18000|
|Mahesh|       6500|
+------+-----------+

In [15]:
'''
group by departments which gives maximum salary 

sum,mean,max,count etc. are aggregate functions!

'''
df_pyspark.groupBy('Departments').sum().show()

print("Mean Salaries:")

df_pyspark.groupBy('Departments').mean().show()

+-----------+-----------+
|Departments|sum(Salary)|
+-----------+-----------+
|        IOT|      20000|
|         CV|       4000|
|         DL|       4500|
|         ML|      50000|
+-----------+-----------+

Mean Salaries:
+-----------+-----------------+
|Departments|      avg(Salary)|
+-----------+-----------------+
|        IOT|6666.666666666667|
|         CV|           4000.0|
|         DL|           2250.0|
|         ML|          12500.0|
+-----------+-----------------+

In [16]:
'''
How many number of propler are working in each department?
'''
df_pyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    3|
|         CV|    1|
|         DL|    2|
|         ML|    4|
+-----------+-----+

In [17]:
##method-2 applying direct aggregate

'''
sum of all salaries
'''

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      78500|
+-----------+

In [18]:
'''
find out minimum salaries by department
'''
df_pyspark.groupBy('Departments').min().show()

+-----------+-----------+
|Departments|min(Salary)|
+-----------+-----------+
|        IOT|       5000|
|         CV|       4000|
|         DL|       2000|
|         ML|       3000|
+-----------+-----------+

In [19]:
'''
find out minimum salaries by Names
'''
df_pyspark.groupBy('Name').min().show()

+------+-----------+
|  Name|min(Salary)|
+------+-----------+
|   Tom|       2000|
| Sunny|      12000|
|   Jom|       3000|
|Mahesh|       2500|
+------+-----------+