In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Part_1').getOrCreate()

In [3]:
spark

In [27]:
#multiple ways to read dataset

df_pyspark = spark.read.option('header','true').csv('data.csv',inferSchema=True)

In [12]:
## check schema
df_pyspark.show()
df_pyspark.printSchema()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Tom| 23|         2|
| Yom| 34|        10|
| Lom| 45|        20|
+----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
# method -2

df_pyspark = spark.read.csv('data.csv',header=True,inferSchema=True)
df_pyspark.show()
df_pyspark.printSchema()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Tom| 23|         2|
| Yom| 34|        10|
| Lom| 45|        20|
+----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
# view columns and some head elements

df_pyspark.columns

['Name', 'Age', 'Experience']

In [17]:
# to see top three records

df_pyspark.head(3)

[Row(Name='Tom', Age=23, Experience=2),
 Row(Name='Yom', Age=34, Experience=10),
 Row(Name='Lom', Age=45, Experience=20)]

In [18]:
#select particular column to see data

df_pyspark.select('Name').show()

+----+
|Name|
+----+
| Tom|
| Yom|
| Lom|
+----+

In [19]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
| Tom|         2|
| Yom|        10|
| Lom|        20|
+----+----------+

In [21]:
# to see data types of column

df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+----+----+------------------+
|summary|Name| Age|        Experience|
+-------+----+----+------------------+
|  count|   3|   3|                 3|
|   mean|null|34.0|10.666666666666666|
| stddev|null|11.0| 9.018499505645789|
|    min| Lom|  23|                 2|
|    max| Yom|  45|                20|
+-------+----+----+------------------+

In [29]:
#create a new column with operation on existing column

df_pyspark = df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [30]:
df_pyspark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
| Tom| 23|         2|                       4|
| Yom| 34|        10|                      12|
| Lom| 45|        20|                      22|
+----+---+----------+------------------------+

In [33]:
#remove columns

df_pyspark = df_pyspark.drop('Experience after 2 years') # for multiple columns provide columns names in a list ['col1','col2']

In [34]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Tom| 23|         2|
| Yom| 34|        10|
| Lom| 45|        20|
+----+---+----------+

In [35]:
# rename columns
df_pyspark.withColumnRenamed('Name','NewName').show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
|    Tom| 23|         2|
|    Yom| 34|        10|
|    Lom| 45|        20|
+-------+---+----------+