In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Part2').getOrCreate()

In [4]:
spark

In [25]:
df_pyspark = spark.read.csv('data_new.csv',header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

In [11]:
#dropping feature or column
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  23|         2|300000|
|  34|        10| 40000|
|  45|        20| 45000|
|null|      null|120000|
|  56|        10|380000|
|  36|      null|  null|
+----+----------+------+

In [15]:
# dropping null rows
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Tom| 23|         2|300000|
| Yom| 34|        10| 40000|
| Lom| 45|        20| 45000|
+----+---+----------+------+

In [17]:
# use of how parameter
'''
if you want to drop all rows that contain entire null value then use 'all'
'''

df_pyspark.show()

df_pyspark.na.drop(how='all').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
|null|null|      null|  null|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

In [18]:
'''
if you want to drop all rows that contain atleast one or more null value then use 'any'
'''

df_pyspark.show()

df_pyspark.na.drop(how='any').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
|null|null|      null|  null|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Tom| 23|         2|300000|
| Yom| 34|        10| 40000|
| Lom| 45|        20| 45000|
+----+---+----------+------+

In [21]:
'''
thresh
'''

df_pyspark.show()

df_pyspark.na.drop(how='any',thresh=3).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
|null|null|      null|  null|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Tom| 23|         2|300000|
| Yom| 34|        10| 40000|
| Lom| 45|        20| 45000|
|null| 56|        10|380000|
+----+---+----------+------+

In [22]:
#subset: where in particular column if there is null value then whole record in row is deleted.


df_pyspark.show()

df_pyspark.na.drop(how='any',subset=['Experience']).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Tom|  23|         2|300000|
| Yom|  34|        10| 40000|
|null|null|      null|  null|
| Lom|  45|        20| 45000|
| Som|null|      null|120000|
|null|  56|        10|380000|
|null|  36|      null|  null|
+----+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Tom| 23|         2|300000|
| Yom| 34|        10| 40000|
| Lom| 45|        20| 45000|
|null| 56|        10|380000|
+----+---+----------+------+

In [26]:
## handling missing values

df_pyspark.na.fill('Missing values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|           Tom|  23|         2|300000|
|           Yom|  34|        10| 40000|
|Missing values|null|      null|  null|
|           Lom|  45|        20| 45000|
|           Som|null|      null|120000|
|Missing values|  56|        10|380000|
|Missing values|  36|      null|  null|
+--------------+----+----------+------+

In [27]:
df_pyspark.na.fill({'Name':'Not availablle','Age':0,'Experience':0,'Salary':0}).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|           Tom| 23|         2|300000|
|           Yom| 34|        10| 40000|
|Not availablle|  0|         0|     0|
|           Lom| 45|        20| 45000|
|           Som|  0|         0|120000|
|Not availablle| 56|        10|380000|
|Not availablle| 36|         0|     0|
+--------------+---+----------+------+